<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>问答系统</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/mui/css/mui.css" rel="stylesheet" />
		<script src="__STATIC__/mui/js/mui.js"></script>
		<script src="__STATIC__/js/jquery-3.4.1.js"></script>
		<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
		<script type="text/javascript">
			mui.init()
		</script>
	</head>
	<style>
		.title {
			margin: 20px 15px 10px;
			color: #6d6d72;
			font-size: 15px;
		}

		.oa-contact-cell.mui-table .mui-table-cell {
			padding: 11px 0;
			vertical-align: middle;
		}

		.oa-contact-cell {
			position: relative;
			margin: -11px 0;
		}

		.oa-contact-avatar {
			width: 75px;
		}

		.oa-contact-avatar img {
			border-radius: 50%;
		}

		.oa-contact-content {
			width: 100%;
		}

		.oa-contact-name {
			margin-right: 20px;
		}

		.oa-contact-name,
		oa-contact-position {
			float: left;
		}
		.mui-btn{
			margin-left: 5%;
			width: 90%;
		}
		.mui-toast-container{
			width: 260px;
		}
		#answer{
			display: none;
		}
		#start_answer{
			display: block;
			margin-top: 200px;
		}
		#red_pack{
			position: fixed;
			z-index: 999;
			width: 60%;
			left: 20%;
			top: 150px;
		}
		#red_pack{
			display: none;
			opacity: 0;
			transition: 0.5s;
		}
		table{
			width: 100%;
			text-align: center;
		}
		tr{
			height: 33px;
			border-bottom: 1px solid #c8c7cc;
		}
		.mui-card-content-inner{
			padding: 5px!important;
		}
	</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<!-- <a ><i class="mui-icon mui-icon-back"></i></a> -->
			<h1 class="mui-title">php知识点问答</h1>
		</header>
		<!-- 底部选项卡 -->
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" href="#tabbar">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-contact" >
				<span class="mui-icon mui-icon-person-filled"></span>
				<span class="mui-tab-label">我的</span>
			</a>
		</nav>
		<!-- 底部选项卡 -->
		<!-- 标签页内容 -->
		<div class="mui-content">
			<!-- 首页答题页 开始 -->
			<div id="tabbar" class="mui-control-content mui-active">
				<!-- 答题用户记录id -->
				<input type="hidden" name="" id="this_userInfo" value="" />
				<!-- 红包图片 -->
				<img id='red_pack' src="__STATIC__/img/red_pack.png" onclick="open_pack()"/>
				<!-- 问题内容区域 -->
				<div id="answer">
					<div class="mui-content-padded">
						<!-- 题目标题 -->
						<h4 id="issue_tittle"></h4>
					</div>
					<div class="mui-card">
						<!-- 正确答案 -->
						<input type="hidden" name="" id="true" value="" />
						<!-- 选项 -->
						<form class="mui-input-group" id="answer_list">

						</form>
						<!-- 选项 -->
					</div>
					<button type="button" class="mui-btn mui-btn-danger mui-btn-block" onclick="next()" id="next">下一题</button>
				</div>
				<!-- 问题内容区域 -->
				<!-- 开始答题按钮 -->
				<div id="start_answer">
					<button type="button" class="mui-btn mui-btn-warning mui-btn-block" onclick="start_answer()">开始答题</button>
				</div>
				<!-- 开始答题按钮 -->
			</div>
			<!-- 首页答题页 结束 -->
			<!-- **************************************************************** -->
			<!-- 答题记录页 -->
			<div id="tabbar-with-contact" class="mui-control-content">
				<!-- 用户名 -->
				<div class="title">{$Think.cookie.name}</div>
				<div class="mui-card">
					<div class="mui-card-header">答题记录</div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner" id="issue_record">
							<table border="0" cellspacing="0" cellpadding="0">
								<thead>
									<tr>
										<th>得分</th>
										<th>抽中</th>
										<th>状态</th>
										<th>时间</th>
									</tr>
								</thead>
								<!-- 答题记录 -->
								<tbody id="record_table">
									
								</tbody>
								<!-- 答题记录 -->
								<tfoot>
									<tr style="border: 0;height: 25px;">
										<td colspan="4">没有更多信息了~</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<div class="mui-card-footer">
						<a href="{:url('issue/index/lin_out')}"><button type="button" class="mui-btn mui-btn-danger" style="width: 100%;">退出登录</button></a>
					</div>
				</div>
			</div>
			<!-- 答题记录页 -->
		</div>
		<!-- 标签页内容 -->
	</body>
	<script>
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		// 声明索引:a  问题数组:issue_arr  分数:sorce
		var a = 0;
		var issue_arr = [];
		var sorce = 0;
		
		// 开始答题函数
		function start_answer(){
			$.ajax({
				type: 'post',
				url: "{:url('issue/index/today_status')}",
				dataType: 'JSON', //和控制器转换对应
				data: {},
				success: function(data) {
					// 判断今日是否答题
					if(data.status==1){
						mui.alert('明天再来吧', '今天已经答过！', function() {
						});
					}else{
						// 获取题目
						$.ajax({
							type: 'post',
							url: "{:url('issue/index/get_issue')}",
							dataType: 'JSON', //和控制器转换对应
							data: {},
							success: function(data) {
								// 重新声明索引:a  问题数组:issue_arr  分数:sorce,
								// 恢复默认
								a = 0;
								sorce = 0;
								issue_arr=[];
								// 赋值问题数组
								issue_arr = data.issue;
								// 隐藏开始按钮、显示答题区域
								$("#start_answer").css('display','none');
								$("#answer").css('display','block');
								// 调用答题内容输出函数
								issue();
							},
							error: function(e) {
								mui.toast('网络错误，请刷新页面');
							}
						})
						
						
					}
				},
				error: function(e) {
					mui.toast('网络错误，请刷新页面');
				}
			})
		}
		
		// 答题内容输出函数
		function issue() {
			// 清空标题、正确答案、选项
			$("#issue_tittle").text(null);
			$("#true").val(null);
			$("#answer_list").text(null);
			// 赋值标题、正确答案、选项
			$("#issue_tittle").text((a + 1) + '、' + issue_arr[a].issue);
			$("#true").val(issue_arr[a].true_option);
			// 循环输出选项数组
			for (var i = 0; i < issue_arr[a].option.length; i++) {
				option = '<div class="mui-input-row mui-radio mui-left"><label>' + issue_arr[a].option[i][0] + '、' + issue_arr[a].option[
					i][1] + '</label><input name="radio1" type="radio" value="' + issue_arr[a].option[i][0] + '"></div>'
				$("#answer_list").append(option);
			}
			a++;	// 索引自增
		}

		// 跳转下一题函数
		function next() {
			// 获取选择的内容与正确答案比对
			var checkVal = $("input[name='radio1']:checked").val();
			var trueVal = $("#true").val();
			// 如果索引小于数组长度,接着下一题
			if (a < issue_arr.length) {
				// 如果是正确答案,分数+1
				if (checkVal == trueVal) {
					sorce++;
					mui.alert('点击确定进入下一题', '恭喜你！回答正确！', function() {
						issue();
					});
				} else {
					mui.alert('点击确定进入下一题', '回答错误！答案是' + trueVal, function() {
						issue();
					});
				}
			} else {
				// 索引不小于数组长度
				// 问题答完判定分数，抽红包
				// 按钮设置不可点击
				$('#next').attr("disabled",true);
				// 如果是正确答案,分数+1
				if (checkVal == trueVal) {
					sorce++;
				}
				// 获取答题的id
				issue_id='';
				for(var i=0;i<issue_arr.length;i++){
					issue_id += issue_arr[i].id + ',';
				}
				// 将分数与答题数组传入后台与cookie一起统计用户答题信息
				$.ajax({
					type: 'post',
					url: "{:url('issue/index/insert_user_info')}",
					dataType: 'JSON', //和控制器转换对应
					data: {
						issue_id:issue_id,
						sorce:sorce*10,
					},
					success: function(data) {
						// 赋值答题信息自增id
						$("#this_userInfo").val(data.user_info_id);
						if(data.status==1){
							// 分数大于6则可以抽取红包
							if (sorce >= 6) {
								mui.alert('点击确定拆红包', '本次的成绩是' + sorce * 10, function() {
									// 显示红包
									$("#red_pack").css('display','block');
									$("#red_pack").css('opacity',1);
								});
							} else {
								mui.alert('很遗憾，没有获得抢红包机会', '本次的成绩是' + (sorce/issue_arr.length)*100 +'分', function() {
									location.reload();
									
								});
							}
						}else{
							mui.toast('网络错误，请重新提交');
						}
						
					},
					error: function(e) {
						mui.toast('网络错误，请刷新页面');
					}
				})
			}
		}
		
		// 点击红包获取红包函数
		function open_pack(){
			// 传入答题自增id,后台绑定抢到红包并减少总红包数量与金额
			$.ajax({
				type: 'post',
				url: "{:url('issue/index/open_pack')}",
				dataType: 'JSON', //和控制器转换对应
				data: {
					id:$("#this_userInfo").val(),
				},
				success: function(data) {
					if(data.status == 1){
						mui.alert('恭喜您获得现金红包', '获得' + data.get_money +'元', function() {
							location.reload();
						});
					}else{
						mui.toast(data.msg);
					}
				},
				error: function(e) {
					mui.toast('网络错误，请刷新页面');
				}
			})
		}
		
		// 答题记录函数
		function record(){
			$.ajax({
				type: 'post',
				url: "{:url('issue/index/get_record')}",
				dataType: 'JSON', //和控制器转换对应
				data: {},
				success: function(data) {
					// 清空答题记录表格内容
					$('#record_table').text(null);
					var record_arr = data.data;
					// 循环输出答题信息
					for(var i=0;i<data.data.length;i++){
						var sorce = '<td>'+record_arr[i].sorce+'</td>';
						var date = '<td>'+record_arr[i].date+'</td>';
						var red_pack = '';
						if(record_arr[i].red_packet>0){
							red_pack = '<td style="color: deepskyblue;">'+record_arr[i].red_packet/100+'元</td><td>已领</td>'
						}else{
							red_pack = '<td style="color: gray;">谢谢参与</td><td style="color:red;">未领</td>'
						}
						
						var record = '<tr>'+sorce+red_pack+date+'</tr>';
						$('#record_table').append(record);
					}
					
				},
				error: function(e) {
					mui.toast('网络错误，请刷新页面');
				}
			})
		}
		// 调用获取答题记录函数
		record();
	</script>

</html>
